.tooltip {
    margin: 2px auto;
    z-index: 4;
    display: none;
    background: #FFFF00;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow: auto;
}
.chat {
    list-style: none;
    margin: 5px;
    padding: 5px;
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body {
    margin-left: 60px;
}
.chat li.right .chat-body {
    margin-right: 60px;
}
.chat li .chat-body p {
    margin: 5px;
    margin-right: 5px;
    margin-left: 5px;
    color: #777777;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.on  { background:blue; }
.off { background:red; }

.button-on {
    background-color: #afa8a8;
    border: none;
    color: green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 1px 1px 1px 20px;
    cursor: pointer;
}

.button-off {
    background-color: #afa8a8;
    border: none;
    color: red;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 1px 1px 1px 20px;
    cursor: pointer;
}

.panel-body {
    //overflow-y: scroll;
    //height: 250px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}